Repository EttyKitty/ChapterMaster, pull requests merged in 2024-11, with the labels that each got.

#57 feat: build date-time, bumping after build; edit error logging
  .github/workflows/build_artifact.yml
  .github/workflows/build_pre-release.yml
  ChapterMaster.yyp
  datafiles/main/version.json
  objects/obj_lol_version/Draw_0.gml
  objects/obj_main_menu/Create_0.gml
  scripts/macros/macros.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_json_functions/scr_json_functions.gml
  scripts/scr_json_functions/scr_json_functions.yy
  scripts/scr_log/scr_log.gml
  scripts/scr_save_controller/scr_save_controller.gml
Labels: PR: Enhancement, PR: Refactor

#56 refactor: declare loop variables locally in for loops
  objects/obj_fleet_select/Create_0.gml
  scripts/explode_script/explode_script.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_add_corruption/scr_add_corruption.gml
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_cheatcode/scr_cheatcode.gml
  scripts/scr_check_equip/scr_check_equip.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_diplomacy_helpers/scr_diplomacy_helpers.gml
  scripts/scr_draw_unit_stat_data/scr_draw_unit_stat_data.gml
  scripts/scr_enemy_ai_e/scr_enemy_ai_e.gml
  scripts/scr_fleet_functions/scr_fleet_functions.gml
  scripts/scr_imperial_navy_functions/scr_imperial_navy_functions.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_item_count/scr_item_count.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_mission_reward/scr_mission_reward.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
  scripts/scr_population_influence/scr_population_influence.gml
  scripts/scr_quest/scr_quest.gml
  scripts/scr_recent/scr_recent.gml
  scripts/scr_role_count/scr_role_count.gml
  scripts/scr_save/scr_save.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_system_search_helpers/scr_system_search_helpers.gml
  scripts/scr_trade/scr_trade.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Refactor

#69 feat: improve the chapter fleet tab
  ChapterMaster.yyp
  objects/obj_controller/Mouse_50.gml
  scripts/scr_fleet_advisor/scr_fleet_advisor.gml
  sprites/spr_ship_back_black/00dd47db-65d6-4276-90cd-12c8e6708bcc.png
  sprites/spr_ship_back_black/10f0ca68-908b-4ee5-a040-ed1074c658aa.png
  sprites/spr_ship_back_black/41b410c3-01c1-440c-bd9d-40498f3ee679.png
  sprites/spr_ship_back_black/6589492c-ec33-4530-b55f-16489df31ff4.png
  sprites/spr_ship_back_black/7f115bba-8dfa-467c-b850-6053b3321a30.png
  sprites/spr_ship_back_black/a6e533e7-1d01-4d43-960a-686a504f379c.png
  sprites/spr_ship_back_black/e96b4c09-4610-40c7-98ef-c4e76a16cb01.png
  sprites/spr_ship_back_black/f84f2a39-f16e-4874-809b-e99be35df387.png
  sprites/spr_ship_back_black/layers/00dd47db-65d6-4276-90cd-12c8e6708bcc/d7bdc619-a660-497b-a4e5-2ac912a40407.png
  sprites/spr_ship_back_black/layers/10f0ca68-908b-4ee5-a040-ed1074c658aa/5b39eae7-ec43-40f7-b3c1-e22cea88da02.png
  sprites/spr_ship_back_black/layers/41b410c3-01c1-440c-bd9d-40498f3ee679/d7bdc619-a660-497b-a4e5-2ac912a40407.png
  sprites/spr_ship_back_black/layers/6589492c-ec33-4530-b55f-16489df31ff4/5b39eae7-ec43-40f7-b3c1-e22cea88da02.png
  sprites/spr_ship_back_black/layers/7f115bba-8dfa-467c-b850-6053b3321a30/d7bdc619-a660-497b-a4e5-2ac912a40407.png
  sprites/spr_ship_back_black/layers/a6e533e7-1d01-4d43-960a-686a504f379c/5b39eae7-ec43-40f7-b3c1-e22cea88da02.png
  sprites/spr_ship_back_black/layers/e96b4c09-4610-40c7-98ef-c4e76a16cb01/5b39eae7-ec43-40f7-b3c1-e22cea88da02.png
  sprites/spr_ship_back_black/layers/f84f2a39-f16e-4874-809b-e99be35df387/d7bdc619-a660-497b-a4e5-2ac912a40407.png
  sprites/spr_ship_back_black/spr_ship_back_black.yy
  sprites/spr_ship_back_white/1aa71696-4ad5-412d-9f14-342cd38f5631.png
  sprites/spr_ship_back_white/36a2218b-dff1-41ce-890d-520e37171b31.png
  sprites/spr_ship_back_white/5af2c4c0-c4b0-47ad-a7f1-8ec1d4aea4cf.png
  sprites/spr_ship_back_white/965b4909-9ecd-4504-9ac1-ad7559c50805.png
  sprites/spr_ship_back_white/layers/1aa71696-4ad5-412d-9f14-342cd38f5631/276d1ded-ec39-4e71-8b4a-c08caccf9599.png
  sprites/spr_ship_back_white/layers/36a2218b-dff1-41ce-890d-520e37171b31/276d1ded-ec39-4e71-8b4a-c08caccf9599.png
  sprites/spr_ship_back_white/layers/5af2c4c0-c4b0-47ad-a7f1-8ec1d4aea4cf/276d1ded-ec39-4e71-8b4a-c08caccf9599.png
  sprites/spr_ship_back_white/layers/965b4909-9ecd-4504-9ac1-ad7559c50805/276d1ded-ec39-4e71-8b4a-c08caccf9599.png
  sprites/spr_ship_back_white/spr_ship_back_white.yy
Labels: PR: Enhancement, PR: Fix

#70 feat: welcome message and string functions edits
  ChapterMaster.yyp
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Draw_0.gml
  objects/obj_star/Draw_0.gml
  scripts/JsonFileListLoader/JsonFileListLoader.gml
  scripts/UIRenderComponents/UIRenderComponents.gml
  scripts/scr_add_artifact/scr_add_artifact.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_cheatcode/scr_cheatcode.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_convert_to_string/scr_convert_to_string.gml
  scripts/scr_convert_to_string/scr_convert_to_string.yy
  scripts/scr_has_adv/scr_has_adv.gml
  scripts/scr_has_disadv/scr_has_disadv.gml
  scripts/scr_librarium/scr_librarium.gml
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_string/scr_string.gml
  scripts/scr_string/scr_string.yy
  scripts/scr_string_functions/scr_string_functions.gml
  scripts/scr_string_functions/scr_string_functions.yy
  scripts/scr_string_plural/scr_string_plural.gml
  scripts/scr_string_plural/scr_string_plural.yy
  scripts/scr_truncate_string_width/scr_truncate_string_width.gml
  scripts/scr_truncate_string_width/scr_truncate_string_width.yy
  scripts/scr_ui_advisors/scr_ui_advisors.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
  scripts/string_reverse/string_reverse.gml
  scripts/string_rpos/string_rpos.gml
  scripts/string_rpos/string_rpos.yy
  scripts/string_to_integer/string_to_integer.gml
  scripts/string_to_integer/string_to_integer.yy
Labels: PR: Enhancement, PR: Fix, PR: Refactor

#76 fix: fix and finish hunt beast governor audience
  ChapterMaster.yyp
  objects/obj_star_select/Draw_64.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_draw_planet_features/scr_draw_planet_features.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_manage_task_selector/scr_manage_task_selector.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_mission_functions/scr_mission_functions.gml
  scripts/scr_pen_And_paper/scr_pen_And_paper.gml
  scripts/scr_pen_And_paper/scr_pen_And_paper.yy
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Fix

#65 chore: continuing to adjust the auto-build
  .github/release.yml
  .github/workflows/build_artifact_vm.yml
  .github/workflows/build_artifact_yyc.yml
  .github/workflows/build_release_nightly_vm.yml
  .github/workflows/build_release_nightly_yyc.yml
  .github/workflows/build_release_yyc.yml
  datafiles/main/version.json
Labels: PR: Chore

#87 chore: Auto-build and release stuff
  .github/workflows/build_release_yyc.yml
  datafiles/main/version.json
  objects/obj_main_menu/Create_0.gml
Labels: PR: Chore

#85 refactor: Basic timer function
  ChapterMaster.yyp
  objects/obj_timer/Create_0.gml
  objects/obj_timer/Step_0.gml
  objects/obj_timer/obj_timer.yy
  scripts/scr_wait_and_execute/scr_wait_and_execute.gml
  scripts/scr_wait_and_execute/scr_wait_and_execute.yy
Labels: PR: Refactor

#86 fix: scr_ui_advisors (line 437) crash
  scripts/scr_ui_advisors/scr_ui_advisors.gml
Labels: PR: Fix

#91 fix: final ruins I pray
  scripts/scr_ancient_ruins/scr_ancient_ruins.gml
  scripts/scr_mission_functions/scr_mission_functions.gml
Labels: PR: Fix

#93 fix: Advantages/Disadvantages checks ignoring past 4th slot
  scripts/scr_initialize_custom/scr_initialize_custom.gml
Labels: PR: Fix

#94 chore: Fix typo in the labeler
  .github/labeler.yml
Labels: PR: Chore

#96 chore: Add gitignore and gitattributes to labeler
  .github/labeler.yml
Labels: PR: Chore

#98 refactor: Try and report for company_order
  scripts/scr_company_order/scr_company_order.gml
Labels: PR: Fix

#84 refactor: debugl rework; minor logging edits
  ChapterMaster.yyp
  objects/obj_controller/Create_0.gml
  objects/obj_main_menu/Create_0.gml
  scripts/__init_external/__init_external.gml
  scripts/__init_external/__init_external.yy
  scripts/__init_global/__init_global.gml
  scripts/debugl/debugl.gml
  scripts/macros/macros.gml
  scripts/scr_log/scr_log.gml
Labels: PR: Refactor, PR: Performance

#16 feat: Bombardment edits
  objects/obj_drop_select/Draw_0.gml
  objects/obj_star_select/Draw_64.gml
  scripts/scr_bomb_world/scr_bomb_world.gml
  scripts/scr_purge_world/scr_purge_world.gml
Labels: PR: Enhancement, PR: Refactor, PR: Misc Change, PR: Balance

#100 feat: Timer to limit combat turns
  objects/obj_enunit/Alarm_0.gml
  objects/obj_ncombat/Alarm_2.gml
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/Alarm_7.gml
  objects/obj_ncombat/Create_0.gml
  objects/obj_ncombat/KeyPress_13.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_punit_combat_heplers/scr_punit_combat_heplers.gml
Labels: PR: Fix

#101 chore: Labeler tweaks
  .github/labeler.yml
  .github/srvaroa_labeler.yml
  .github/workflows/labeler.yml
Labels: PR: Chore

#99 fix: Chapter Master and Captains missing in various places
  objects/obj_drop_select/Alarm_1.gml
  objects/obj_drop_select/Alarm_5.gml
  objects/obj_drop_select/Alarm_6.gml
  objects/obj_drop_select/Draw_0.gml
  objects/obj_drop_select/Mouse_56.gml
  objects/obj_enunit/Alarm_0.gml
  objects/obj_enunit/Step_0.gml
  objects/obj_ncombat/Alarm_2.gml
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/Alarm_7.gml
  objects/obj_ncombat/Create_0.gml
  objects/obj_ncombat/KeyPress_13.gml
  scripts/scr_drop_fiddle/scr_drop_fiddle.gml
  scripts/scr_management/scr_management.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_punit_combat_heplers/scr_punit_combat_heplers.gml
Labels: PR: Fix, PR: Refactor

#62 feat: warp route screen pan on key combo; fix its tooltip
  objects/obj_fleet_select/Draw_0.gml
  objects/obj_p_fleet/Draw_0.gml
  objects/obj_planet_map/Create_0.gml
  objects/obj_star_select/Mouse_50.gml
  objects/obj_tooltip/Draw_75.gml
  scripts/scr_map_and_warp_functions/scr_map_and_warp_functions.gml
Labels: PR: Enhancement, PR: Fix, PR: Misc Change

#68 refactor: item name gathering script for equipment selection UIs
  ChapterMaster.yyp
  fonts/fnt_menu/fnt_menu.old.png
  fonts/fnt_menu/fnt_menu.png
  objects/obj_controller/Alarm_6.gml
  objects/obj_creation/Create_0.gml
  objects/obj_creation/Step_0.gml
  objects/obj_creation_popup/Draw_0.gml
  objects/obj_mass_equip/Create_0.gml
  objects/obj_mass_equip/Draw_0.gml
  objects/obj_mass_equip/Step_0.gml
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_popup/Create_0.gml
  objects/obj_popup/Draw_0.gml
  objects/obj_popup/Mouse_50.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_array_functions/scr_array_functions.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_chapter_random/scr_chapter_random.gml
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_company_struct/scr_company_struct.gml
  scripts/scr_creation/scr_creation.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_get_item_names/scr_get_item_names.gml
  scripts/scr_get_item_names/scr_get_item_names.yy
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_livery_setup/scr_livery_setup.gml
  scripts/scr_log/scr_log.gml
  scripts/scr_manage_task_selector/scr_manage_task_selector.gml
  scripts/scr_management/scr_management.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_recruit_data/scr_recruit_data.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_display_weapons/scr_ui_display_weapons.gml
  scripts/scr_ui_settings/scr_ui_settings.gml
  scripts/scr_unit_spawn_functions/scr_unit_spawn_functions.gml
  scripts/scr_weapons_equip/scr_weapons_equip.gml
Labels: PR: Refactor, PR: Major Feat!

#109 style: try-catch to scr_fleet_functions + format
  scripts/scr_fleet_functions/scr_fleet_functions.gml
Labels: PR: Code Style

#107 fix: Maybe obj_pnunit alarm 3 crash; try-catch
  objects/obj_pnunit/Alarm_3.gml
Labels: PR: Fix

#108 fix: obj_fleet alarm7 crash? try-catch
  objects/obj_fleet/Alarm_7.gml
Labels: PR: Fix

#106 fix: scr_shoot crash; weapon index; try-catch
  scripts/scr_shoot/scr_shoot.gml
Labels: PR: Fix

#112 fix: Modern disadv check and 4 to 8 loop increase
  objects/obj_controller/Create_0.gml
  scripts/scr_creation/scr_creation.gml
Labels: PR: Fix

#110 fix: ncombat alarm7 crash fix and try-catch
  objects/obj_ncombat/Alarm_7.gml
Labels: PR: Fix

#111 refactor: Wrap group_selection() into try-catch
  scripts/is_specialist/is_specialist.gml
Labels: PR: Refactor

#113 fix: Disable reclusium events, as they don't work and crash
  scripts/scr_ui_advisors/scr_ui_advisors.gml
Labels: PR: Fix

#115 refactor: Initblock movement to fix related bugs
  objects/obj_enunit/Alarm_0.gml
  objects/obj_enunit/Alarm_5.gml
  objects/obj_enunit/Alarm_6.gml
  objects/obj_enunit/Destroy_0.gml
  objects/obj_ncombat/Alarm_2.gml
  objects/obj_pnunit/Alarm_0.gml
  scripts/scr_clean/scr_clean.gml
  scripts/scr_punit_combat_heplers/scr_punit_combat_heplers.gml
Labels: PR: Fix, PR: Refactor

#120 fix: Deprecate some old cooldown/mouse stuff
  objects/obj_drop_select/Draw_0.gml
  objects/obj_star_select/Draw_64.gml
Labels: PR: Fix

#119 fix: Star selected indicator
  objects/obj_fleet_show/Step_0.gml
  objects/obj_star_select/Draw_0.gml
  objects/obj_star_select/obj_star_select.yy
Labels: PR: Fix

#117 fix: Fortifications in scr_shoot and scr_flavor2
  scripts/scr_flavor2/scr_flavor2.gml
  scripts/scr_shoot/scr_shoot.gml
Labels: PR: Fix

#122 chore: Autobuilding perfection
  .github/workflows/build_artifact_vm.yml
  .github/workflows/build_artifact_yyc.yml
  .github/workflows/build_release_nightly_vm.yml
  .github/workflows/build_release_nightly_yyc.yml
  .github/workflows/build_release_yyc.yml
  .github/workflows/gamemaker_build.yml
  .github/workflows/nightly_yyc.yml
  .github/workflows/release_yyc.yml
  ChapterMaster.yyp
  datafiles/main/version.json
  scripts/__init_external/__init_external.gml
Labels: PR: Chore

#121 fix: try-catch for ruins surprise
  scripts/scr_ancient_ruins/scr_ancient_ruins.gml
Labels: PR: Fix

#123 fix: crash when switching bombardment targets
  objects/obj_bomb_select/Mouse_56.gml
Labels: PR: Fix

#124 fix: typo in splintered fleet distribution
  scripts/scr_start_load/scr_start_load.gml
Labels: PR: Fix

#125 chore: auto-build method is back to YYC
  .github/workflows/nightly_yyc.yml
  .github/workflows/release_yyc.yml
Labels: PR: Chore

#128 fix: Fleet combat with new fleet arrays
  objects/obj_en_husk/Draw_0.gml
  objects/obj_en_ship/Alarm_0.gml
  objects/obj_fleet/Create_0.gml
  objects/obj_p_assra/Alarm_0.gml
  objects/obj_p_assra/Step_0.gml
  objects/obj_p_ship/Alarm_0.gml
  objects/obj_p_ship/Create_0.gml
  scripts/scr_boarding_actions/scr_boarding_actions.gml
  scripts/scr_player_fleet_combat_functions/scr_player_fleet_combat_functions.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
  scripts/scr_ship_count/scr_ship_count.gml
  scripts/scr_start_load/scr_start_load.gml
Labels: PR: Fix, PR: Refactor, PR: Major Code Changes

#131 fix: Typo in scr_dialogue.gml
  scripts/scr_dialogue/scr_dialogue.gml
Labels: PR: Text Only

#129 fix: Ork fleet behaviour tweaks
  ChapterMaster.yyp
  objects/obj_controller/Alarm_5.gml
  objects/obj_en_fleet/Alarm_1.gml
  objects/obj_en_fleet/Alarm_4.gml
  objects/obj_en_fleet/Create_0.gml
  scripts/scr_enemy_ai_c/scr_enemy_ai_c.gml
  scripts/scr_fleet_functions/scr_fleet_functions.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_ork_fleet_functions/scr_ork_fleet_functions.gml
  scripts/scr_save/scr_save.gml
Labels: PR: Fix, PR: Refactor, PR: Performance, PR: Major Code Changes

#118 refactor: GC and logging changes
  .github/workflows/gamemaker_build.yml
  datafiles/main/version.json
  objects/obj_garbage_collector/Step_0.gml
  objects/obj_timer/Create_0.gml
  objects/obj_timer/Step_0.gml
  scripts/__init_external/__init_external.gml
  scripts/debugl/debugl.gml
  scripts/macros/macros.gml
  scripts/scr_log/scr_log.gml
  scripts/scr_wait_and_execute/scr_wait_and_execute.gml
Labels: PR: Refactor, PR: CI

#133 ci: Update gamemaker_build.yml
  .github/workflows/gamemaker_build.yml
  .github/workflows/nightly_yyc.yml
Labels: PR: CI

#139 perf: Garbage collector edits
  objects/obj_garbage_collector/Create_0.gml
  objects/obj_garbage_collector/Step_0.gml
Labels: PR: Performance

#137 refactor: More error logging edits for 0.10 and minor fixes
  objects/obj_en_ship/Alarm_0.gml
  objects/obj_fleet/Create_0.gml
  scripts/__init_external/__init_external.gml
  scripts/macros/macros.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_fleet_advisor/scr_fleet_advisor.gml
  scripts/scr_log/scr_log.gml
  sprites/spr_indomitus_complex/7173924c-400c-4ee3-8b3d-0123aa659415.png
  sprites/spr_indomitus_complex/layers/7173924c-400c-4ee3-8b3d-0123aa659415/03d917a8-bff1-45d7-818b-f057c5540e44.png
Labels: PR: Fix, PR: Refactor

#140 refactor: Move trait data and distribution into a separate file
  ChapterMaster.yyp
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_unit_spawn_functions/scr_unit_spawn_functions.gml
  scripts/scr_unit_traits/scr_unit_traits.gml
  scripts/scr_unit_traits/scr_unit_traits.yy
Labels: PR: Refactor, PR: Major Coding

#142 fix: Shift+RMB for direct travel
  objects/obj_fleet_select/Draw_0.gml
  scripts/scr_map_and_warp_functions/scr_map_and_warp_functions.gml
Labels: PR: Fix

#143 fix: Exterminatus crash, add check for obj_star instances
  objects/obj_en_fleet/Draw_0.gml
Labels: PR: Fix

#144 fix: And refactor exterminatus
  scripts/scr_destroy_planet/scr_destroy_planet.gml
Labels: PR: Fix, PR: Refactor

#145 fix: Even more ruins bits
  objects/obj_ncombat/Alarm_0.gml
Labels: PR: Fix

#146 fix: Crozius missing at chapter creation
  scripts/scr_weapons_equip/scr_weapons_equip.gml
Labels: PR: Feature

#157 fix: draw obj_p_fleet line 12 crash
  objects/obj_p_fleet/Draw_0.gml
Labels: PR: Fix

#158 fix: Ruins ... hope and pray
  scripts/scr_ancient_ruins/scr_ancient_ruins.gml
Labels: PR: Fix

#156 ci: A bunch of build, label, version stuff
  .github/labeler.yml
  .github/srvaroa_labeler.yml
  .github/workflows/release_dev.yml
  .github/workflows/release_stable.yml
  scripts/__init_external/__init_external.gml
Labels: PR: CI

#150 feat: "Generate random name" button on some creation slides
  ChapterMaster.yyp
  objects/obj_creation/Create_0.gml
  objects/obj_creation/Draw_0.gml
  scripts/scr_hit/scr_hit.gml
  scripts/scr_livery_setup/scr_livery_setup.gml
Labels: PR: Feature

#161 ci: Labeler will be fixed, one day
  .github/srvaroa_labeler.yml
  .github/workflows/labeler.yml
Labels: PR: Chore

#160 fix: ma_lid variable to default to -1
  ChapterMaster.yyp
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Step_0.gml
  objects/obj_popup/Draw_0.gml
  objects/obj_popup/Mouse_50.gml
  objects/obj_popup/Step_0.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_ui_refresh/scr_ui_refresh.gml
Labels: PR: Chore

#164 feat(flavour): Update lore for soul drinkers
  datafiles/main/chapters/16.JSON
Labels: PR: Text

#151 refactor: Replace a bunch of global vars with macro
  objects/obj_pnunit/Alarm_5.gml
  objects/obj_popup/Create_0.gml
  scripts/scr_add_artifact/scr_add_artifact.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_draw_unit_stat_data/scr_draw_unit_stat_data.gml
  scripts/scr_keyboard_helpers/scr_keyboard_helpers.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_pen_And_paper/scr_pen_And_paper.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_unit_detail_text/scr_unit_detail_text.gml
  scripts/scr_unit_equip_functions/scr_unit_equip_functions.gml
Labels: PR: Performance

#41 feat: Rework battle EXP reward system
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/Create_0.gml
  objects/obj_pnunit/Alarm_5.gml
  scripts/scr_crusade/scr_crusade.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_powers_new/scr_powers_new.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Enhancement, PR: Feature, PR: Balance

#154 refactor: Default max kills at 1 and minor code clarity
  scripts/scr_shoot/scr_shoot.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Refactor, PR: Misc Change

#168 fix: alarm 7 code legibility and checks
  objects/obj_ncombat/Alarm_7.gml
Labels: PR: Fix

#155 fix: Advisor names (array shift)
  scripts/scr_draw_armentarium/scr_draw_armentarium.gml
  scripts/scr_librarium/scr_librarium.gml
  scripts/scr_recruit_data/scr_recruit_data.gml
  scripts/scr_ui_advisors/scr_ui_advisors.gml
Labels: PR: Fix

#170 fix: en_fleet alarm 11 modern orbiting method
  objects/obj_en_fleet/Alarm_11.gml
Labels: PR: Fix

#165 feat: Chapter selection multirow grid & dbg overlay
  ChapterMaster.yyp
  objects/obj_creation/Create_0.gml
  objects/obj_creation/Draw_0.gml
  scripts/scr_chapter_random/scr_chapter_random.gml
Labels: PR: Refactor, PR: Feature

#167 fix: Command squad auto sorting
  scripts/scr_company_order/scr_company_order.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_manage_task_selector/scr_manage_task_selector.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Fix

#173 fix: Crashfix for new chapter
  scripts/scr_equipment_struct/scr_equipment_struct.gml
  scripts/scr_recruit_data/scr_recruit_data.gml
Labels: PR: Chore

#175 feat: Add trims to colour picker
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
Labels: PR: Chore
