Repository EttyKitty/ChapterMaster, pull requests merged in 2024-12, with the labels that each got.

#177 fix: Crashfix perils table
  scripts/scr_perils_table/scr_perils_table.gml
Labels: PR: Fix

#180 fix: Infrequent bug from orks arriving and generating refugees
  scripts/scr_ork_fleet_functions/scr_ork_fleet_functions.gml
Labels: PR: Fix

#183 fix: Array issues with scr_powers
  scripts/scr_powers/scr_powers.gml
Labels: PR: Fix

#181 general cleanup on gene slaves
  ChapterMaster.yyp
  fonts/fnt_menu/fnt_menu.old.png
  fonts/fnt_menu/fnt_menu.png
  scripts/scr_apothecarium/scr_apothecarium.gml
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Sprites

#172 feat: Disable borderless window
  options/windows/options_windows.yy
Labels: PR: Misc Change

#174 feat: Angry marines
  datafiles/main/chapters/17.JSON
  scripts/scr_ui_display_weapons/scr_ui_display_weapons.gml
  scripts/scr_unit_spawn_functions/scr_unit_spawn_functions.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Feature

#184 feat: Copy version number by clicking on it
  objects/obj_lol_version/Draw_0.gml
Labels: PR: Feature

#185 chore: Version display edits, commit links in reports
  datafiles/main/version.json
  objects/obj_lol_version/Draw_0.gml
  scripts/__init_external/__init_external.gml
  scripts/scr_log/scr_log.gml
Labels: PR: Chore

#186 Chore : test compile fixes
  objects/obj_drop_select/Alarm_5.gml
  objects/obj_drop_select/Alarm_6.gml
  objects/obj_p_fleet/Create_0.gml
  objects/obj_popup/Destroy_0.gml
  options/windows/options_windows.yy
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_drop_select_function/scr_drop_select_function.gml
  scripts/scr_fleet_advisor/scr_fleet_advisor.gml
  scripts/scr_player_combat_weapon_stacks/scr_player_combat_weapon_stacks.gml
  scripts/scr_purge_world/scr_purge_world.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Chore

#187 fix: Array error with custom select in draw_manage_unit script
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
Labels: PR: Fix

#188 fix: Add extra check to stop array errror in ui_manage ship area
  scripts/scr_ui_manage/scr_ui_manage.gml
Labels: PR: Fix

#190 fix: Missing homeworld name on new game
  scripts/scr_chapter_new/scr_chapter_new.gml
Labels: PR: Fix

#191 fix: Inconsistent use of "warp" and "Warp" causing crashes
  objects/obj_popup/Draw_0.gml
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_draw_armentarium/scr_draw_armentarium.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_random_event/scr_random_event.gml
Labels: PR: Fix

#189 fix: Garbage error with p_fortification
  scripts/scr_PlanetData/scr_PlanetData.gml
  scripts/scr_enemy_ai_a/scr_enemy_ai_a.gml
  scripts/scr_ground_ai_helpers/scr_ground_ai_helpers.gml
Labels: PR: Fix

#193 feat: Basic ship return from lost in warp logic
  ChapterMaster.yyp
  docs/CHEATCODES.md
  objects/obj_controller/Alarm_5.gml
  objects/obj_p_fleet/Alarm_1.gml
  objects/obj_p_fleet/Step_0.gml
  objects/obj_turn_end/Alarm_1.gml
  scripts/scr_apothecary_ground/scr_apothecary_ground.gml
  scripts/scr_cheatcode/scr_cheatcode.gml
  scripts/scr_company_struct/scr_company_struct.gml
  scripts/scr_draw_armentarium/scr_draw_armentarium.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_pen_And_paper/scr_pen_And_paper.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
  scripts/scr_player_ship_functions/scr_player_ship_functions.gml
  scripts/scr_player_ship_functions/scr_player_ship_functions.yy
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Feature

#194 feat: Exclude squad from bulk equip
  objects/obj_mass_equip/Step_0.gml
  scripts/scr_company_struct/scr_company_struct.gml
  scripts/scr_squads/scr_squads.gml
Labels: PR: Feature

#195 fix: Set lid defualt to -1 in scr_manage_unit
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
Labels: PR: Fix

#197 fix: Recruitment and trait distribution
  scripts/scr_PlanetData/scr_PlanetData.gml
  scripts/scr_unit_traits/scr_unit_traits.gml
Labels: PR: Fix

#196 fix: Crash with custom chap icon
  objects/obj_creation/Draw_0.gml
Labels: PR: Fix

#198 fix: Player fleet merge move to modern methods
  objects/obj_p_fleet/Collision_obj_p_fleet.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
Labels: PR: Fix

#199 fix: Restore final save part
  objects/obj_saveload/Alarm_0.gml
Labels: PR: Fix

#201 docs: Update code_guidance.md
  docs/code_guidance.md
Labels: PR: Docs

#202 fix: Chainsword start gear bug
  scripts/scr_marine_struct/scr_marine_struct.gml
Labels: PR: Fix

#203 refactor: A bit less hectic scr_start_allow
  scripts/scr_get_item_names/scr_get_item_names.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_start_allow/scr_start_allow.gml
Labels: PR: Refactor

#204 refactor: Recruitment strings and rates to macros
  objects/obj_controller/Alarm_5.gml
  scripts/scr_apothecarium/scr_apothecarium.gml
  scripts/scr_draw_armentarium/scr_draw_armentarium.gml
  scripts/scr_librarium/scr_librarium.gml
  scripts/scr_recruit_data/scr_recruit_data.gml
  scripts/scr_ui_advisors/scr_ui_advisors.gml
Labels: PR: Refactor

#205 fix: Deprecated experience() causing crash
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
Labels: PR: Fix

#207 fix: Custom icon load
  objects/obj_creation/Create_0.gml
  objects/obj_creation/Draw_0.gml
Labels: PR: Fix

#210 fix: Complex set crash
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
Labels: PR: Fix

#212 fix: obj_ini.icon string failsafe
  objects/obj_controller/Draw_64.gml
Labels: PR: Fix

#216 fix: Wrong variable name in planet defence battles
  objects/obj_ncombat/Alarm_7.gml
Labels: PR: Fix

#217 fix: Add error handling and split crusade into own function
  objects/obj_en_fleet/Alarm_1.gml
  scripts/scr_fleet_functions/scr_fleet_functions.gml
Labels: PR: Fix

#218 fix: Return trade ships home or delete them
  scripts/scr_fleet_functions/scr_fleet_functions.gml
Labels: PR: Fix

#213 fix: Add checks to stop empty strings in item logic
  scripts/scr_add_item/scr_add_item.gml
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
Labels: PR: Fix

#214 fix: Fix a bunch of ship errors caused by location
  objects/obj_controller/Alarm_5.gml
  objects/obj_controller/KeyPress_73.gml
  objects/obj_controller/Step_0.gml
  scripts/scr_destroy_planet/scr_destroy_planet.gml
  scripts/scr_dialogue/scr_dialogue.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
  scripts/scr_enemy_ai_d/scr_enemy_ai_d.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_special_view/scr_special_view.gml
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
  scripts/scr_squads/scr_squads.gml
  scripts/scr_ui_advisors/scr_ui_advisors.gml
  scripts/scr_vehicle_order/scr_vehicle_order.gml
Labels: PR: Fix

#215 fix: Unset global variable crashing artificer armour
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
Labels: PR: Fix

#222 feat: Deselect dreadnoughts on attack screen and ship load fix
  objects/obj_controller/Create_0.gml
  objects/obj_controller/Step_0.gml
  objects/obj_drop_select/Draw_64.gml
  scripts/is_specialist/is_specialist.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_ui_refresh/scr_ui_refresh.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Fix, PR: Feature

#224 fix: Crash that could occur when saving the chapter icon path
  scripts/scr_save/scr_save.gml
Labels: PR: Fix

#226 feat: Add Terminator bionics sprites
  ChapterMaster.yyp
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  sprites/spr_indomitus_left_arm_bionic/a3ac1d6f-e781-440e-a110-6fad27f8a376.png
  sprites/spr_indomitus_left_arm_bionic/layers/a3ac1d6f-e781-440e-a110-6fad27f8a376/44afe506-0bbd-436e-814a-df8fba4b1a0c.png
  sprites/spr_indomitus_left_arm_bionic/spr_indomitus_left_arm_bionic.yy
  sprites/spr_indomitus_left_eye_bionic/31989d85-49ac-4983-b8fb-45efa3e06aa7.png
  sprites/spr_indomitus_left_eye_bionic/7c88e163-9b76-4a91-a58a-ffd8f4e1066f.png
  sprites/spr_indomitus_left_eye_bionic/a8ea05d9-93c5-4939-ab47-bac06fd85282.png
  sprites/spr_indomitus_left_eye_bionic/b1333d46-5d71-48c7-b81d-909c1f8a2b39.png
  sprites/spr_indomitus_left_eye_bionic/layers/31989d85-49ac-4983-b8fb-45efa3e06aa7/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_left_eye_bionic/layers/7c88e163-9b76-4a91-a58a-ffd8f4e1066f/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_left_eye_bionic/layers/a8ea05d9-93c5-4939-ab47-bac06fd85282/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_left_eye_bionic/layers/b1333d46-5d71-48c7-b81d-909c1f8a2b39/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_left_eye_bionic/spr_indomitus_left_eye_bionic.yy
  sprites/spr_indomitus_left_leg_bionic/9050d74b-ae5d-43ad-9ef5-42a5ae426e64.png
  sprites/spr_indomitus_left_leg_bionic/layers/9050d74b-ae5d-43ad-9ef5-42a5ae426e64/44afe506-0bbd-436e-814a-df8fba4b1a0c.png
  sprites/spr_indomitus_left_leg_bionic/spr_indomitus_left_leg_bionic.yy
  sprites/spr_indomitus_right_arm_bionic/4bc0c5a9-ad91-4ba4-bcc8-3c39fcaa1d70.png
  sprites/spr_indomitus_right_arm_bionic/layers/4bc0c5a9-ad91-4ba4-bcc8-3c39fcaa1d70/44afe506-0bbd-436e-814a-df8fba4b1a0c.png
  sprites/spr_indomitus_right_arm_bionic/spr_indomitus_right_arm_bionic.yy
  sprites/spr_indomitus_right_eye_bionic/31989d85-49ac-4983-b8fb-45efa3e06aa7.png
  sprites/spr_indomitus_right_eye_bionic/7c88e163-9b76-4a91-a58a-ffd8f4e1066f.png
  sprites/spr_indomitus_right_eye_bionic/a8ea05d9-93c5-4939-ab47-bac06fd85282.png
  sprites/spr_indomitus_right_eye_bionic/b1333d46-5d71-48c7-b81d-909c1f8a2b39.png
  sprites/spr_indomitus_right_eye_bionic/layers/31989d85-49ac-4983-b8fb-45efa3e06aa7/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_right_eye_bionic/layers/7c88e163-9b76-4a91-a58a-ffd8f4e1066f/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_right_eye_bionic/layers/a8ea05d9-93c5-4939-ab47-bac06fd85282/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_right_eye_bionic/layers/b1333d46-5d71-48c7-b81d-909c1f8a2b39/03d917a8-bff1-45d7-818b-f057c5540e44.png
  sprites/spr_indomitus_right_eye_bionic/spr_indomitus_right_eye_bionic.yy
  sprites/spr_indomitus_right_leg_bionic/4bc0c5a9-ad91-4ba4-bcc8-3c39fcaa1d70.png
  sprites/spr_indomitus_right_leg_bionic/layers/4bc0c5a9-ad91-4ba4-bcc8-3c39fcaa1d70/44afe506-0bbd-436e-814a-df8fba4b1a0c.png
  sprites/spr_indomitus_right_leg_bionic/spr_indomitus_right_leg_bionic.yy
Labels: PR: Feature, PR: Sprites

#225 fix: Align warp lanes with stars after game restart
  objects/obj_controller/Create_0.gml
  scripts/scr_map_and_warp_functions/scr_map_and_warp_functions.gml
Labels: PR: Fix

#228 chore: Minor edits to error reports
  scripts/scr_log/scr_log.gml
Labels: PR: Chore

#233 docs: Add discord badge to readme
  docs/README.md
Labels: PR: Docs

#232 feat: Boarding tags
  objects/obj_p_assra/Step_0.gml
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Feature

#238 fix(compiler): Add missing spr_bionics_arm_2 to yyp
  ChapterMaster.yyp
Labels: PR: Chore

#219 chore: Adjustments to weapon balance
  scripts/scr_weapon/scr_weapon.gml
Labels: PR: Chore

#236 fix: "Unstretch" the main menu background
  datafiles/images/title_splash.png
Labels: PR: Fix, PR: Sprites

#230 fix: Uncommon crash from squad temporary variable
  objects/obj_p_fleet/Alarm_6.gml
  scripts/scr_company_view/scr_company_view.gml
  scripts/scr_draw_management_unit/scr_draw_management_unit.gml
Labels: PR: Fix

#229 fix: Unloading not possible directly after loading marines
  objects/obj_controller/Create_0.gml
  objects/obj_popup/Mouse_50.gml
  scripts/scr_ui_manage/scr_ui_manage.gml
  scripts/scr_unit_quick_find_pane/scr_unit_quick_find_pane.gml
Labels: PR: Fix

#239 feat: Improve missing ships return from warp
  scripts/scr_fleet_functions/scr_fleet_functions.gml
  scripts/scr_khornate_fleet_functions/scr_khornate_fleet_functions.gml
  scripts/scr_player_ship_functions/scr_player_ship_functions.gml
Labels: PR: Feature

#240 fix: Array error with image caching
  scripts/scr_image/scr_image.gml
Labels: PR: Fix

#237 fix: Ruins one last time
  objects/obj_drop_select/KeyPress_68.gml
  objects/obj_drop_select/Mouse_56.gml
  scripts/scr_add_artifact/scr_add_artifact.gml
  scripts/scr_roster/scr_roster.gml
  scripts/scr_turn_first/scr_turn_first.gml
Labels: PR: Fix

#242 fix: Modernise and remove redundant code scr_random_event
  scripts/scr_random_event/scr_random_event.gml
Labels: PR: Fix

#231 fix: Several bugs with fleet combat
  objects/obj_fleet/Alarm_7.gml
  objects/obj_ncombat/Alarm_7.gml
  objects/obj_p_fleet/Alarm_6.gml
  objects/obj_p_ship/Step_0.gml
  objects/obj_popup/Mouse_51.gml
  scripts/scr_ini_ship_cleanup/scr_ini_ship_cleanup.gml
  scripts/scr_player_fleet_combat_functions/scr_player_fleet_combat_functions.gml
Labels: PR: Fix

#235 fix: Mobility gear on Terminators
  scripts/scr_unit_equip_functions/scr_unit_equip_functions.gml
Labels: PR: Fix

#243 fix: Array error in ship self-healing crash
  objects/obj_controller/Alarm_5.gml
Labels: PR: Fix

#244 fix: Research progression and add research complete popup
  scripts/scr_specialist_points/scr_specialist_points.gml
Labels: PR: Enhancement, PR: Fix

#241 fix : tech heretic conversion logic
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
Labels: PR: Fix

#245 refactor: Move experience reward logic to a script
  ChapterMaster.yyp
  objects/obj_ncombat/Alarm_5.gml
  objects/obj_ncombat/Create_0.gml
  objects/obj_ncombat/KeyPress_13.gml
  objects/obj_pnunit/Alarm_5.gml
  scripts/scr_distribute_experience/scr_distribute_experience.gml
  scripts/scr_distribute_experience/scr_distribute_experience.yy
  scripts/scr_random_event/scr_random_event.gml
  scripts/scr_specialist_point_handler/scr_specialist_point_handler.gml
Labels: PR: Fix, PR: Refactor

#246 fix : repair loading forge queue
  scripts/scr_load_controller/scr_load_controller.gml
Labels: PR: Fix

#192 feat: New weapon tags for custom stat scaling
  scripts/scr_marine_struct/scr_marine_struct.gml
Labels: PR: Feature, PR: Balance
