Repository EttyKitty/ChapterMaster, pull requests merged in 2024-10, with the labels that each got.

#43 Fix/infinite hp
  objects/obj_p_assra/Alarm_0.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
Labels: Fix

#46 Fix: Bombard array move to modern system name method
  objects/obj_fleet_select/Draw_0.gml
  objects/obj_p_fleet/Step_0.gml
  scripts/scr_bomb_world/scr_bomb_world.gml
  scripts/scr_fleet_functions/scr_fleet_functions.gml
  scripts/scr_player_fleet_functions/scr_player_fleet_functions.gml
Labels: Fix, Refactor

#44 refactor: progenitor enumerator
  objects/obj_controller/Create_0.gml
  objects/obj_event/Alarm_0.gml
  objects/obj_event/Step_0.gml
  objects/obj_ini/Create_0.gml
  scripts/scr_draw_unit_image/scr_draw_unit_image.gml
  scripts/scr_event_dudes/scr_event_dudes.gml
  scripts/scr_initialize_custom/scr_initialize_custom.gml
  scripts/scr_marine_struct/scr_marine_struct.gml
  scripts/scr_purge_world/scr_purge_world.gml
  scripts/scr_unit_spawn_functions/scr_unit_spawn_functions.gml
Labels: Refactor

#53 Fix: end turn alarm5 chaos warlord spawn
  docs/CHANGELOG.md
  objects/obj_controller/Alarm_5.gml
  scripts/scr_system_search_helpers/scr_system_search_helpers.gml
Labels: Fix

#51 Fix: complex sprite stuff fixes
  objects/obj_creation/Create_0.gml
  scripts/scr_chapter_new/scr_chapter_new.gml
  scripts/scr_complex_colour_kit/scr_complex_colour_kit.gml
  scripts/scr_load/scr_load.gml
  scripts/scr_save/scr_save.gml
Labels: Enhancement
